In [1]:
import pandas as pd

In [2]:
df = pd.read_excel("Opinnäytetyökysely.xlsx")
df

,Aikaleima,Kuinka löysit aiheesi?,Opinnäytetyöni oli hankkeistettu,Oliko työsi teoreettinen vai käytännöllinen? Teoreettinen (1) - Käytännöllinen (5),Pystyin itse vaikuttamaan aiheen valintaan,Olin innostunut opinnäytetyötä tehdessäni,Pystyin itse vaikuttamaan opinnäytetyöni ohjaajan valintaan,Sain riittävästi ohjausta,Hankin itse aktiivisesti tietoa työni aiheesta,Tutkimusaiheeni kiinnosti minua,...,Ohjaajan tuki opinnäytetyön eri vaiheissa:aineiston analyysissa,Ohjaajan tuki opinnäytetyön eri vaiheissa:johtopäätösten ja yhteenvedon tekemisessa,Ohjaajan tuki opinnäytetyön eri vaiheissa:raportoinnissa,Thesis grade,Opinnäytetyön tekemiseen kulunut aika ensimmäisistä aihekaavailuista työn valmistumiseen:kuukautta,Opinnäytetyön tekemisaika työviikkoina (40 h) aihekuvauksen tekemisestä työn valmistumiseen:työviikkoa,Oliko työ parityö?,Opiskeluala,Sukupuoli,Ikä
0,26.10.2015 21:11:28,Itse,Kyllä,3,5,5,5,1,5,5,...,1,2,4,NaN,24.0,20.0,0,Kulttuuri,Nainen,23.0
1,26.10.2015 21:11:28,Itse,Ei,1,5,5,3,1,4,4,...,2,1,4,NaN,11.0,7.0,0,Kulttuuri,Nainen,27.0
2,26.10.2015 21:11:28,Itse,Kyllä,3,5,4,1,5,4,5,...,4,4,5,NaN,7.0,28.0,0,Kulttuuri,Nainen,22.0
3,26.10.2015 21:11:28,Itse,Ei,4,5,5,3,2,4,5,...,4,4,4,5.0,5.0,17.0,0,Kulttuuri,Nainen,26.0
4,26.10.2015 21:11:28,Työharjoittelupaikasta,Kyllä,2,4,2,4,4,4,3,...,3,4,4,NaN,14.0,10.0,0,Kulttuuri,Mies,36.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
237,26.10.2015 21:11:40,Työharjoittelupaikasta,Kyllä,4,4,5,5,4,5,5,...,2,3,3,NaN,9.0,16.0,0,Tekniikka,Mies,24.0
238,26.10.2015 21:11:40,Työharjoittelupaikasta,Kyllä,3,4,5,5,5,5,5,...,4,3,3,4.0,6.0,21.0,0,Tekniikka,Mies,23.0
239,26.10.2015 21:11:40,Itse,Kyllä,4,5,5,1,4,5,5,...,2,2,5,NaN,8.0,32.0,0,Tekniikka,Mies,33.0
240,26.10.2015 21:11:40,Itse,Kyllä,3,5,5,1,5,5,5,...,5,4,5,4.0,3.0,15.0,0,Tekniikka,Mies,25.0
241,26.10.2015 21:11:40,Työelämästä (ei työharjoittelupaikka),Kyllä,3,2,5,5,2,4,4,...,3,4,5,4.0,6.0,11.0,0,Tekniikka,Mies,27.0

In [3]:
var = ["Opinnäytetyön tekemiseen kulunut aika ensimmäisistä aihekaavailuista työn valmistumiseen:kuukautta"]

df1 = df.groupby("Opiskeluala")[var].describe()
columns = ["Lukumäärä", "Keskiarvo", "Keskihajonta", "Pienin", "Alaneljännes", "Mediaani", "Yläneljännes", "Suurin"]
df1.columns=columns
df1.style.format("{:.1f}")

In [4]:
df2 = df.groupby("Sukupuoli")[var].describe()
columns = ["Lukumäärä", "Keskiarvo", "Keskihajonta", "Pienin", "Alaneljännes", "Mediaani", "Yläneljännes", "Suurin"]
df2.columns=columns
df2.style.format("{:.1f}")

In [ ]:
df3 = df.pivot_table(values="Sain riittävästi ohjausta", index="Opiskeluala", columns="Sukupuoli", margins=True, margins_name="Kaikki")
df3.index.name=""
df3.columns.name=""
df3.style.format("{:.1f}")

In [43]:
df4 = df.pivot_table(values=["Luotin ohjaajani neuvoihin", "Ohjaajaani oli helppo lähestyä"], index="Opiskeluala", columns="Sukupuoli")
df4.style.format("{:.1f}")